[Unit]
Description=OurBox Matchbox Installer
After=local-fs.target systemd-user-sessions.service
Conflicts=getty@tty1.service
Before=getty@tty1.service

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/opt/ourbox/tools/ourbox-install
StandardInput=tty-force
StandardOutput=tty
StandardError=journal+console
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
TimeoutStartSec=infinity
Restart=no

[Install]
WantedBy=multi-user.target
